.tabContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  padding: 24px 0 17px 0;
  height: 80px;
  max-width: 1208px;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
