.tabList {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 234px;
  padding-top: 0;
  /* padding-bottom: ; */
}

.listItem {
  padding: 0 4px 10px 4px;
  line-height: calc(19.2 / 16 * 100%);
  width: 100%;
  height: 100%;
  text-align: center;
  text-transform: uppercase;
}

.listItem:not(:last-child) {
  margin-right: 16px;
}
